<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>vmarkdown</title>


    <!-- common start -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <!-- common end -->

    <!-- editor start -->
    <link rel="stylesheet" href="vmarkdown-codemirror-editor-vendors.css">
    <link rel="stylesheet" href="vmarkdown-codemirror-editor.css">
    <script src="vmarkdown-codemirror-editor-vendors.js"></script>
    <script src="vmarkdown-codemirror-editor.js"></script>
    <!-- editor end -->

    <!-- preview start -->
    <link rel="stylesheet" href="vmarkdown-preview.css">
    <script src="vmarkdown-preview-vendors.js"></script>
    <script src="vmarkdown-preview.js"></script>
    <!-- preview end -->

    <style>
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        ::-webkit-scrollbar-track-piece {
            background-color: #fff;
            -webkit-border-radius: 6px;
        }

        ::-webkit-scrollbar-thumb:vertical {
            background-color: rgba(153, 153, 153, 0.51);
            -webkit-border-radius: 6px;
        }

        ::-webkit-scrollbar-thumb:horizontal {
            background-color: #CCCCCC;
            -webkit-border-radius: 6px;
        }

        ::-webkit-scrollbar-thumb:hover{
            background-color: #999;
        }

        #preview {
            padding: 40px;
            border-left: 1px solid rgba(0, 0, 0, 0.2);
        }
    </style>

    <style>
        html, body{
            margin: 0;
            padding: 0;
            height: 100%;
        }

        body {
            overflow-y: hidden;
        }

        .panel{
            width: 50%;
            box-sizing: border-box;
        }

        #editor {
            height: 100%;
            float: left;
        }

        #preview {
            /*background-color: #1d3e81;*/
            min-height: 100px;
            margin-left: 50%;

            height: 100%;
            overflow-y: auto;
        }
    </style>


</head>
<body>

<script>
    (function () {
        try {
            window.__plugins__ =  <%= plugins %>;
        }
        catch (e) {
            console.error(e);
        }
    })();
</script>

<div class="panel" id="editor"></div>
<div class="panel" id="preview"><div id="app"></div></div>

</body>
</html>